
<div class="box float-left">
    <div><a href="@ViewBag.SocialMediaLinks.Facebook">Facebook</a></div>
</div>
<div class="box float-left" justify-content: space-between>
    <environment excludede="Development">
        <div><a href="@ViewBag.SocialMediaLinks.Instagram">Instagram</a></div>
    </environment>
</div>

<div class="box float-left" justify-content: space-between>
    <div><a href="@ViewBag.SocialMediaLinks.Twitter">Twitter</a></div>
</div>

<div class="box float-left" justify-content: space-between>
    <div><a href="@ViewBag.SocialMediaLinks.Youtube">Youtube</a></div>
</div>
